* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.2s
}

ul {
  list-style: none
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

html {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto
}

img {
  width: 100%
}
.padtopbot{
  padding: 3rem 0;
}



/* ============== nav =============*/
nav{
width: 100%;
background-color:rgb(235, 227, 213) ;
position:sticky;
display: flex;
top: 0;
left: 0;
align-items: center;
justify-content: space-between;
padding: 0 2rem;
}
nav .img{
  width: 100px;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li{
  margin: 0 1rem;
}
nav ul li a{
  padding: 1rem;
  font-weight: 600;
}
nav ul li a#cart{
font-size: 1.25rem;
}
nav ul li a:hover{
  color: rgb(236, 228, 214);
  background-color: rgb(86, 71, 54);
}



/* ============== sale ================  */


section.sale {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./img/banner/b1.jpg");
  padding: 6rem 0;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: white;
}

section.sale a {
  width: 200px;
  padding: 1rem 0;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

section.sale p {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
}

section.sale p span {
  color: red;
}

section.sale a:hover {
  background-color: black;
  color: white;
}

/* ================= products ===================== */
h1#oldprd{
  color:rgb(119, 107, 93) ;
  font-weight: bolder;
}
p#oldprd{
  color: rgb(189, 177, 157);
  font-size: 14px;
}
#oldprd{
  text-align: center;
  display: flex;
  flex-direction: column;
align-items: center;
background-color: rgb(243, 238, 234);
padding: 16px 0px 0px 0px ;
}


section.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(243, 238, 234);
  padding: 25px 75px;
}

section.products .box {
  width: calc(98% / 4);
  margin-bottom: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
    box-shadow: 3px 3px 3px 3px rgb(211, 211, 211);
}
section.products .box div.image{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
section.products .box div.image img{
  border-radius: 10px;
  width: 95%;
}

section.products .box .content {
  padding: 0.7rem;
}


section.products .box .content p {
  color: rgb(119, 107, 93);
  font-size: 2.5rem;
  margin-bottom: 0px;
}

section.products .box .content h3{
  color:rgb(181, 172, 156) ;
  font-size: 16px;
}

section.products .box .content div {
  margin-top: 0px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 0px
}

section.products .box .content div.starprice {
  display: flex;
  width: calc(98%/5);
  flex-direction: row;
}
section.products .box .content div span{
  color: rgb(187, 47, 65);
  font-size: 1.5rem;
  font-weight: bold;
}
section.products .box .content div img{
width: 40px ;
background-color: rgb(235, 227, 213);
border-radius: 40px;
}

/* ============= sign up =============== */

section.signup{
  background-color:rgb(119, 107, 93) ;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}
section.signup .container{
  flex-direction: row;
}
section.signup .container div{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 200px;
}
section.signup .container div p span{
  color: rgb(255, 212, 0);
}



/* ================== footer ================== */

footer {
  color: rgb(0, 0, 0);
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

footer .container ul,
footer .container .follow {
  width: calc(95% / 4)
}

footer .container img{
  width: 100px;
}
footer .container ul li:first-child,
footer .container .follow h2 {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 0.7rem;
  position: relative;
  margin-bottom: 0.7rem;
}

footer .container ul li:first-child::after,
footer .container .follow h2::after {
  content: '';
  width: 40px;
  height: 5px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;

}

footer .container .follow a {
  display: inline;
}

footer .container .follow a img {
  width: 30px;
}
footer .container ul.payment li img {
  border-radius: 10px;
  border: 4px black ;

}
.secoundFooter {
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 1rem;
}






@media (max-width:1200px) {
  section.products {
      width: 100%;
  }

  section.products .box {
      width: calc(98% / 2)
  }

  .coverpage .container,
  section.images {
      width: 100%;
  }
}

@media (max-width:992px) {
  section.products {
      width: 90%;
  }

  section.products .box {
      width: calc(98% / 2);
  }

  .coverpage .container {
      flex-direction: column;
      text-align: center;
  }

  section.coverpage .container div {
      width: 100%;
  }

  section.images .child {
      flex-direction: column;
  }

  section.images .child .box {
      width: 100% !important;
      margin-bottom: 1rem;
  }
  section.feature{
    flex-direction: column;
  }
  footer .container {
      flex-direction: column;
      width: 100%;
  }

  footer .container ul,
  footer .container .follow {
      width: 100%;;


  }
}


@media (max-width:768px) {

  nav,
  section.products {
      flex-direction: column;
  }
  section.feature{
    flex-direction: column;
  }

  nav ul {
      margin-bottom: 2rem;
  }

  section.products {
      width: 100%;
  }

  section.products .box {
      width: 100%;
  }
}